* {
  margin: 1;
  padding: 1;
  box-sizing: border-box; }

#fondocolor {
  background-color: bisque; }

nav {
  background-color: beige;
  padding-top: 30px;
  padding-bottom: 30px; }
  nav ul {
    text-align: end; }

h1 {
  color: #e68686;
  font-size: 5rem;
  font-family: 'Lato', sans-serif;
  text-align: center; }

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s;
  animation: scale-up-center 0.4s; }

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

h2 {
  color: brown;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 3rem; }

.scale-up-hor-center {
  -webkit-animation: scale-up-hor-center 0.4s;
  animation: scale-up-hor-center 0.4s; }

@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

h3 {
  color: brown;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2rem; }

.botonespanel {
  display: flex;
  justify-content: flex-end;
  color: black;
  text-decoration: none;
  font-size: 1 rem;
  font-family: 'Lato', sans-serif; }

li {
  display: inline;
  margin: 0 10px; }

.logo {
  width: 70px;
  top: 30px;
  left: 30px; }

.slide-top {
  width: 80%; }

.habitacionescontenedor {
  display: grid;
  background-color: #daecb6;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  padding: 3rem 3rem; }
  .habitacionescontenedor .habitaciontitulo {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: beige; }
  .habitacionescontenedor .habitacionimagen {
    width: 80%;
    text-align: center; }
  .habitacionescontenedor .habitaciondescripcion {
    width: 100%;
    text-align: center;
    display: flex;
    background-color: beige;
    font-family: 'Lato', sans-serif; }

.actividades {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .actividades .cardact {
    width: 330px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.30s; }
    .actividades .cardact :hover {
      transform: translateY(15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
    .actividades .cardact img {
      width: 330px;
      height: 220px; }
    .actividades .cardact h3 {
      font-weight: 600; }
    .actividades .cardact p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300; }

@media (max-width: 768px) {
  .nav {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: auto;
    background-color: #e9caa5;
    flex: auto;
    width: 100%; } }
